@use "../../assets/variables" as *;

.inquireID_card {
    margin: 40px;
    // background: black;
    color: black;
}

.input {
    
    color: rgb(67, 67, 67);
}

button{
    border-radius: 30px;
    background-color: rgba(225, 225, 225, .9)
}

button:hover {
    transform: scale(1.1);
    background-color: rgba(225, 225, 225, .5)
}