@use "../../assets/variables" as *;

.container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
}

.input {
    margin: 5px;
    background-color: $color-white;
}

.box {
    border-radius: 10px;
}